/**/

.header-background {
	@apply bg-secondary;
}
/*
.header-profile-container {
	@apply header-background
    absolute left-0 top-0
    h-[50vw] w-[50vw]
    rounded-full 
    border-b-4 border-r-4 border-white;
}
*/
.header-profile-rectangle {
	@apply header-background
    h-10 w-full
    border-b-4
    border-white;
}

.header-text-container {
	@apply absolute
    left-1/2
    top-0
    z-50
    h-fit
    w-fit -translate-x-1/2
    rounded-b-lg
    border-b-4 border-white
    bg-secondary
    px-4 pt-2;
}
.header-text {
	@apply m-auto
    whitespace-nowrap
    font-heading text-[2em] font-bold
    text-white;
}

.header-icon {
	@apply absolute 
    left-0 top-0 ml-4 
    mt-4 h-[40vw]
    w-[40vw] rounded-full
    bg-primary-light sm:hidden 
    sm:h-[10vw]
    sm:w-[10vw];
}
.header-icon-inner {
	@apply absolute 
    left-0 top-0 ml-5 
    mt-5 h-[38vw]
    w-[38vw] rounded-full 
    bg-white
    sm:hidden;
}

.header-drawer {
	@apply w-full
    overflow-hidden;
}

.header-drawer-content {
	@apply flex flex-col
    items-center 
    justify-center
    gap-4
    px-4 py-4;
}

.header-drawer-button {
	@apply flex items-center gap-2
    rounded-lg bg-white/10
    px-4 py-2
    font-semibold
    text-white
    transition-all duration-75 ease-out
    hover:bg-white/20;
}

.header-drawer-button-pressed {
	@apply scale-95 bg-white/20;
}

/*
.header-profile-square {
	@apply header-background
    absolute left-0 top-0
    h-[50vw] w-[25vw]
    border-b-4 border-white;
} 
*/
/* .header-profile-gap {
	@apply header-background
    absolute left-0 top-0
    h-[25vw] w-[50vw];
} */
