/**/
.tasks-page {
	@apply screen relative
		flex
		flex-col
		justify-between;
}
.t-p-container {
	@apply mx-auto
    mt-[150px]
		w-min
		rounded-2xl
		border-2
		border-border bg-card
		p-4;
}
.t-p-content {
	@apply flex 
    h-full w-[80vw]
    max-w-[600px]
    max-w-screen-sm
    flex-1
    flex-col
    items-center
    justify-center
    overflow-auto 
    rounded-lg 
    bg-muted 
    p-2;
}

.task-container {
	@apply h-fit
    w-[80%]
    flex-col
    items-center
    justify-center
    rounded-xl
    bg-card
    p-8;
}

.task-item-container {
	@apply h-fit
    w-full
    flex-row 
    justify-between
    rounded-md
    border-2
    border-border bg-muted
    p-2;
}